<template>
  <q-page class="q-px-md q-pb-xl">
    <div class="q-mt-lg q-mb-md flex justify-center">
        <img src="../statics/images/converse.png" alt="">
    </div>
    <div class="row q-col-gutter-lg q-mt-md">
      <div class="col-3" v-for="n in 4" :key="n">
        <itemCard/>
      </div>
    </div>
        <div class="q-mt-xl q-mb-md flex justify-center">
        <img src="../statics/images/vans.png" alt="">
    </div>
    <div class="row q-col-gutter-lg q-mt-md">
      <div class="col-3" v-for="n in 4" :key="n">
        <itemCard/>
      </div>
    </div>
        <div class="q-mt-xl q-mb-md flex justify-center">
        <img src="../statics/images/levis.png" alt="">
    </div>
    <div class="row q-col-gutter-lg q-my-md">
      <div class="col-3" v-for="n in 4" :key="n">
        <itemCard/>
      </div>
    </div>
  </q-page>
</template>

<script>
import itemCard from '../components/itemCard'

export default {
  name: 'Brands',
  components: {
    itemCard
  }
}
</script>

<style scoped>
</style>
