<template>
  <q-page class="q-px-md q-pb-xl">
    <div class="row q-col-gutter-lg q-mt-md">
      <div class="col-3" v-for="n in 12" :key="n">
        <itemCard/>
      </div>
    </div>
  </q-page>
</template>

<script>
import itemCard from '../components/itemCard'

export default {
  name: 'Favorites',
  components: {
    itemCard
  }
}
</script>

<style scoped>
</style>
