<template>
  <q-page class="row q-px-md">
    <div class="col"></div>
    <div class="col-6">
        <div class="block q-py-md">
            <div style="max-width: 300px">
                <q-form @submit="onSubmit">
                  <div class="q-pt-lg q-pl-md text-h5">E-MAIL</div>
                  <div>
                  <q-input class="field" rounded outlined v-model="email" />
                  </div>
                  <div class="q-pt-lg q-pl-md text-h5">ПАРОЛЬ</div>
                  <q-input class="field" rounded outlined v-model="password" />
                </q-form>
            </div>
        </div>
        <div class="flex justify-center q-mt-md text-h5">
          <q-btn rounded label="ВОЙТИ" type="submit" color="primary" />
        </div>
    </div>
    <div class="registration col-5">
        <div class="flex justify-center text-h4">НЕТ АККАУНТА?</div>
        <div class="flex justify-center q-mt-md text-h5">
          <q-btn rounded label="ЗАРЕГЕСТРИРОВАТЬСЯ" type="submit" color="primary" to="registration"/>
        </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
      email: null,
      password: null
    }
  }
}
</script>

<style scoped>
  .block {
      padding: 60px 180px;
      margin: 60px 0;
      border-radius: 60px;
      background-color: lightgrey;
  }
  .registration {
      margin-top: 180px;
  }
    .field {
    background-color: white;
    border-radius: 60px;
    border: 1px solid black;
  }
</style>
