<template>
    <div class="col-3">
        <router-link to="/article" style="text-decoration: none">
        <q-card class="my-card">
            <div class="image flex justify-center">
              <q-img src="../statics/images/Item.svg" class="image image-adaptive" />
              <div id="buy-icon"><svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                   <path d="M7.4305 13.2675H8.33184V12.3662V10.3216C8.33184 5.23956 12.8154 1 18.4998 1C24.1842 1 28.6679 5.23956 28.6679 10.3216V12.3662V13.2675H29.5692H30.2598C33.4987 13.2675 36 15.6763 36 18.5C36 19.0017 35.9207 19.5015 35.764 19.984V19.9841L31.7791 32.2515C31.0687 34.4382 28.857 36 26.2748 36H10.7249C8.14263 36 5.93092 34.4382 5.22061 32.2515L4.36335 32.5299L5.22061 32.2515L1.23566 19.9841C0.35849 17.2837 1.99448 14.3461 5.07212 13.4935C5.61239 13.3438 6.17433 13.2675 6.73991 13.2675H7.4305ZM25.1414 13.2675H26.0427V12.3662V10.3216C26.0427 6.37022 22.5969 3.2866 18.4998 3.2866C14.4028 3.2866 10.9569 6.3702 10.9569 10.3216V12.3662V13.2675H11.8582H25.1414ZM5.86313 15.6731H5.86306C4.25625 16.1183 3.23398 17.74 3.76216 19.366L7.74712 31.6333C8.16051 32.9061 9.39639 33.7134 10.7249 33.7134H26.2748C27.6032 33.7134 28.839 32.9061 29.2526 31.6334V31.6333L33.2374 19.366C33.3284 19.0858 33.3748 18.7941 33.3748 18.5C33.3748 16.807 31.9114 15.5541 30.2598 15.5541H6.73991C6.44361 15.5541 6.14833 15.594 5.86313 15.6731Z" fill="black" stroke="black" stroke-width="1.5"/>
                   </svg>
              </div>
              <div id="like-icon">
                  <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16.909 4.44813L17.5 5.20456L18.091 4.44813C19.8701 2.17107 22.5823 0.75 25.375 0.75C30.2913 0.75 34.25 4.96792 34.25 10.4905C34.25 13.8693 32.862 16.9838 30.2986 20.3996C27.7251 23.8288 24.0306 27.4813 19.5103 31.9489L19.5093 31.9499L17.498 33.9455L15.4903 31.9685L15.4887 31.967L15.4583 31.9368C10.9524 27.4739 7.2691 23.8258 4.70158 20.4022C2.13802 16.9838 0.75 13.8693 0.75 10.4905C0.75 4.96792 4.7087 0.75 9.625 0.75C12.4177 0.75 15.1299 2.17107 16.909 4.44813ZM16.9474 30.3572L17.5 30.9595L18.0526 30.3572L18.215 30.1802C22.3619 26.0877 25.8529 22.6404 28.3011 19.5224C30.7489 16.4051 32.25 13.5015 32.25 10.4905C32.25 6.32363 29.3487 3.06471 25.375 3.06471C22.5296 3.06471 19.7901 4.92413 18.6342 7.56608H16.3804C15.2107 4.92603 12.4725 3.06471 9.625 3.06471C5.6513 3.06471 2.75 6.32363 2.75 10.4905C2.75 13.5015 4.25107 16.4051 6.69887 19.5224C9.14713 22.6404 12.6381 26.0877 16.785 30.1802L16.9474 30.3572Z" fill="black" stroke="black" stroke-width="1.5"/>
                  </svg>
              </div>
            </div>

          <q-card-section class="item-text q-py-md q-px-sm text-black text-h5">
              <div class="float-right">1 199  РУБ</div>
              <div>VANS</div>
              <div class="q-pb-md">VAN-945201-sus</div>
          </q-card-section>
        </q-card>
        </router-link>
        </div>
</template>

<script>

export default {
  name: 'itemCard',
  props: {
    data: Object
  }
}
</script>

<style scoped>
  .my-card {
      border: 2px solid black;
      border-radius: 60px;
      background: #c4c4c4;
  }
  .image {
      position: relative;
      border-radius: 60px;
    /* background-color: white; */
  }
  .image-adaptive {
      width: 100%;
      height: auto;
  }
  #buy-icon {
      position: absolute;
      bottom: 20px;
      left: 21px;
  }
  #like-icon {
      position: absolute;
      bottom: 20px;
      right: 21px;
  }
</style>
